<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_nightsakura"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_nightsakura_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true" />

        <activity-alias
            android:name=".LauncherNightsakura"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_nightsakura"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_nightsakura_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherInkgold"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_inkgold"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_inkgold_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherDeepsea"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_deepsea"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_deepsea_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherMoss"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_moss"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_moss_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherDawn"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_dawn"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_dawn_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherFrostmoon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_frostmoon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_frostmoon_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherCloudpaper"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cloudpaper"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_cloudpaper_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherWhitepeach"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_whitepeach"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_whitepeach_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
